.full {
  width:1400px;
  height:1400px;
  background-color: #F9F18E;
  padding-left: 22px;
  padding-top: 25px;
  position: relative;
}
.white {
  color: #FFFFFF;
}

.info {
  box-sizing: border-box;
  height:290px;
  width:890px;
  display: flex;
  flex-direction: column;
  position: relative;
  position: absolute;
  right: 22px;
  top: 45px;
  padding: 11px;
  border-radius: 2px;
  background-color: #F9F18E;
}
.top {
  box-sizing: border-box;
  display:flex;
  align-self:start;
  justify-self:start;
  flex-direction: row;
  justify-content: space-between;
  border-color: green;
  width: 100%;
  line-height:27px;
  font-size:28px;
}
.middle {
  display:flex
}
.bottom {
  box-sizing: border-box;
  display:flex;
  align-self: start;
  justify-self:end;
  flex-direction: row;
  justify-content: space-between;
  border-color: purple;
  margin-top: auto;
  width: 100%
}
.brail {
  position:absolute;
  right:11px;
  top:11px;
  height:22px;
}
.painting {
  box-sizing: border-box;
  height:290px;
  width:890px;
  position: absolute;
  right: 22px;
  top: 533px;
  border-radius: 2px
}
.logo {
  height:23px
}
.two {
  padding-left: 25px
}
.blob1 {
  height:22px;
}
.blob2 {
  height:22px;
  margin-right: 10px
}
.barcode {
  height: 23px;
}
.small {
  font-size: 8px;
  padding-right:30px;
}
.whiteback {
  background-color:#FFFFFF;
  height:23px;
  padding-left:2px;
  padding-right:2px;
}
.Wxaxrxp {
  line-height: 1;
  font-size: 22px;
  padding-top: 2px
}
.r {

}
div {
  font-family: font;
}
.back {
  font-family: italic;
  font-size: 185px;
  line-height: 0.8;
}
@font-face {
    font-family: font;
    src: url("HelveticaNeueBlack.otf") format("opentype");
}
@font-face {
    font-family: italic;
    src: url("HelveticaNeueBlackItalic.otf") format("opentype");
}
.blackbox1 {
  width:8px;
  height:23px;
  background-color:black
}
.blackbox2 {
  width:52px;
  height:23px;
  background-color:black
}
.tx {
  padding-right: 15px
}
.ap {
  padding-right: 40px
}