/* Code for all screen sizes */
.full {
  background-color: #F9F18E;
}
.white {
  color: #FFFFFF;
}
.info {
  background-color: #F9F18E;
  border-radius: 2px;
}
.whiteback {
    background-color:#FFFFFF;
}
div {
  font-family: font;
}
.back {
   font-family: italic;
}
@font-face {
    font-family: font;
    src: url("HelveticaNeueBlack.otf") format("opentype");
}
@font-face {
    font-family: italic;
    src: url("HelveticaNeueBlackItalic.otf") format("opentype");
}
.blackbox1 {
  background-color:black
}
.blackbox2 {
  background-color:black
}
/* BEGIN MOBILE RULES */
@media only screen and (max-width: 800px) {
  /* Code for mobile phones only: */
.full {
  width: 768px;
  height: 1024px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 25px;
  position: relative;
  box-sizing:border-box;
}
.back {
  font-size: 130px;
  line-height: 0.8;
}
.textmobile {
  width:220px
}
.backwide {
  display:none
}
.info {
  display: flex;
  flex-direction: column;
  padding: 11px;
  background-image: url(painting.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:250px;
  margin-top: 25px
}
.small {
  padding:2px;
  height:96px
}
.top {
  display:flex;
  align-self:start;
  justify-self:start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height:27px;
  font-size:28px;
}
.middle {
  display:flex
}
.bottom {
  display:flex;
  align-self: start;
  justify-self:end;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  width: 100%
}
.logo {
  height:23px
}
.brail {
  height:22px;
  position:absolute;
  right:25px;
  top:29px;
}
.blob1 {
  height:22px;
}
.blob2 {
  height:22px;
  padding-right:10px
}
.blackbox1 {
  align-self:end
}
.Wxaxrxp {
  align-self:end
}
.logo {
  align-self:end;
  background-color:#FFFFFF;
  border-radius: 25%;
  border-width: 5px;
  box-sizing:border-box
}
.blackbox2 {
  align-self:end
}
.blobmobile {
  align-self:end
}
.barcode {
  height: 100px;
  width: 100px
}
.small {
  font-size: 10px;
  width: 100px;
  line-height:1.25
}
.wide {
  display: none
}
.Wxaxrxp {
  line-height: 1;
  font-size: 22px;
  padding-top: 2px;
}
.whitemobile {
  background-color: #FFFFFF
}
.blackmobile {
  background-color: #000000
}
  /* Mobile label */
  main::before {
    content: "Mobile";
    background-color: #c8787888;
  }
  .blackbox1 {
  width:8px;
  height:23px;
}
.blackbox2 {
  width:52px;
  height:23px;
}
  /* End mobile label */
}


/* BEGIN WIDE SCREEN RULES */
@media only screen and (min-width: 800px) {
  /* Code for wide screen only */
.backmobile {
  display:none
}
.full {
  width:1400px;
  height:1400px;
  padding-left: 22px;
  padding-top: 25px;
  position: relative;
  display:flex;
  justify-self: center;
}
.info {
  height:290px;
  width:890px;
  display: flex;
  flex-direction: column;
  position: relative;
  position: absolute;
  right: 22px;
  top: 45px;
  padding: 11px;
}
.top {
  display:flex;
  align-self:start;
  justify-self:start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height:27px;
  font-size:28px;
}
.middle {
  display:flex
}
.bottom {
  display:flex;
  align-self: start;
  justify-self:end;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  width: 100%
}
.brail {
  position:absolute;
  right:11px;
  top:11px;
  height:22px;
}
.painting {
  box-sizing: border-box;
  height:290px;
  width:890px;
  position: absolute;
  right: 22px;
  top: 533px;
  border-radius: 2px
}
.logo {
  height:23px
}
.two {
  padding-left: 25px
}
.blob1 {
  height:22px;
}
.blob2 {
  height:22px;
  margin-right: 10px
}
.barcode {
  height: 23px;
}
.small {
  font-size: 8px;
  padding-right:30px;
}
.whiteback {
  height:23px;
  padding-left:2px;
  padding-right:2px;
}
.Wxaxrxp {
  line-height: 1;
  font-size: 22px;
  padding-top: 2px;
  background-color: white;
}
.plsmakeitwhite {
  background-color:white
}
.plsfortheloveofgod {
  background-color: #FFFFFF;
}
.back {
  font-size: 185px;
  line-height: 0.8;
}
.blackbox1 {
  width:8px;
  height:23px;
}
.blackbox2 {
  width:52px;
  height:23px;
}
.tx {
  padding-right: 15px
}
.ap {
  padding-right: 40px
}
  /* Widescreen label */
  main::before {
    content: "Wide";
    background-color: #00438888;
  }
  /* End widescreen label */
  .mobile {
    display:none
  }
}

/* BACK TO CODE FOR ALL SIZES */

/* Code to insert circular label label to show how responsive code is working on lower right */
main::before {
  position: fixed;
  bottom: 2px;
  right: 2px;
  color: #efefef;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-family: Helvetica, sans-serif;
  font-size: 8pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
